<html>
    <head>
        <title>Delete Book</title>
    </head>
    <body>
    <form action="/delete_book" method="post">
            <h2>Delete Book</h2>
            <hr/>
            <label for="Book_id">ID</label>
            <input type="text" id="Book_id" name="Book_id" required><br><br>

            <label for="BookName">Book Name</label>
            <input type="text" id="BookName" name="BookName" required><br><br>

            <label for="AuthorName">Author Name</label>
            <input type="text" id="AuthorName" name="AuthorName" required><br><br>

            <input type="submit" value="delete book">
        </form>
        <a href="Add_books.html"></a>
    </body>
</html>
