<html>
    <head>
        <title>Update Book details</title>
    </head>
    <body>

        <form action="/update_book" method="POST">
            <h2>Book Details</h2>
            <hr/>
            <label for="Book_id">Id</label>
            <input type="text" id="Book_id" name="Book_id" required><br><br>

            <label for="AuthorName">AuthorName</label>
            <input type="text" id="AuthorName" name="AuthorName" required><br><br>

            <input type="submit" value="update">
        </form>
    </body>
</html>